[Unit]
Description=Run the monitoring system checks
After=network.target

[Service]
Type=oneshot
WorkingDirectory=/home/okm/touyama/monitoring_system
ExecStart=/bin/bash /home/okm/touyama/monitoring_system/monitor_all.sh
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
